<footer class="footer section-padding">
  <div class="grid">

    <hr class="sep--white"/>

    <div class="footer__container">
      {% tags_list :threshold => 1, :sort_by => count, :order_by => desc, :limit => 5 %}

    </div>
  </div>

<center>
Ochema is a vehicle. It transports man across his intercosmic journey, from the sublunary<br>world to the higher spheres. The vehicle carries him, protects him, is affected by his<br>decisions, thickens when he acts irrationally, thins when he operates rationally,<br>sheds when the soul is ready to set free from his earthly fetters.
<br><br>
Ochema is a charioteer. A transparent pneumatic envelope attached to the body<br>without participating in it. It flies and is imposed by the presence of the daimon<br>within the soul. It protects this from the illusions and sinful temptations of reality.
<br><br>
Ochema is a body-not-a-body. A quasi-real presence in a world of absence.<br>An immaterial corpuscule that escapes the senses by infiltrating the mind.
<br><br>
Ochema re-views man’s continuous attempt at being in a world of becoming.
</center>
</footer>

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
